{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}{% endblock %}
    <title>{% block titles %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous"> -->
</head>
<body class="flex flex-col min-h-screen">
    <!-- <header class="flex justify-around p-4 border-b-gray-200 border-b">
        <div class="flex items-center gap-2">
            <img src="{% static 'img/GraduationCap.svg' %}" alt="Chapéu de graduação">
            <h1 class="font-semibold text-gray-900 text-3xl">TechLink</h1>
        </div>
        <div class="flex gap-3 items-center">
            <span class="text-gray-600 text-sm">Não possui uma conta?</span>
            <button class="bg-red-300 text-red-900 px-5 py-3 font-semibold text-sm cursor-pointer hover:bg-red-100 transition duration-300">Criar Conta</button>
        </div>
    </header> <!-->
     <header class="hidden md:flex justify-between p-4 border-b-gray-200 border-b">
        <div class="flex items-center gap-2">
            <a href="{% url 'techlink:home' %}" class="flex items-center gap-2 mr-4">
                <img src="{% static 'img/GraduationCap.svg' %}" alt="Chapéu de graduação">
                <h1 class="font-semibold text-gray-900 text-3xl">TechLink</h1>
            </a>
           <form method="get" action="{% url 'techlink:buscar' %}" class="w-full max-w-xl mx-auto ml-8">
    
                <div class="relative w-full">
                    
                    <input 
                        type="text" 
                        name="q" 
                        placeholder="O que gostaria de aprender?" 
                        value="{{ request.GET.q }}" 
                        class="w-full pl-4 pr-12 py-3 text-gray-700 bg-white border border-gray-200"
                    >

                    <button type="submit" class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500 hover:text-red-800">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>

                </div>
            </form>

        </div>
        {% if user.is_authenticated %}
            <div class="flex gap-3 items-center">
                <a href="{% url 'accounts:self_user_profile' %}" class="flex items-center gap-2 mx-4">
                    <span>Bem vindo, {{ user.nome }}</span>
                    {% if usuario.foto_perfil %}
                        <img src="{{ user.foto_perfil.url }}" alt="Imagem perfil" class="h-[48px] w-[48px] rounded-full object-cover">
                    {% else %}
                        <img src="{% static 'img/default-avatar.jpg' %}" alt="Imagem perfil" class="h-[48px] w-[48px] rounded-full object-cover">
                    {% endif %}
                </a>
                <form action="{% url 'accounts:logout' %}" method="post" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="w-full text-red-700 px-3 py-3 font-semibold text-sm cursor-pointer">Sair</button>
                </form>
                
            </div>
        {% else %}
            <div class="flex gap-3 items-center">
                <a href="{% url 'accounts:register' %}">
                <button class="bg-red-100 text-red-900 px-5 py-3 font-semibold text-sm cursor-pointer hover:bg-red-300 transition duration-300">
                    Criar Conta
                </button>
                </a>
                <a href="{% url 'accounts:login' %}">
                <button class="bg-red-900 text-white px-5 py-3 font-semibold text-sm cursor-pointer hover:bg-red-700 transition duration-300">
                    Entrar
                </button>
                </a>
            </div>
        {% endif %}
        
    </header>

    <header class="md:hidden p-4 border-b-gray-200 border-b relative">
        <div class="flex justify-between items-center w-full">
            <div class="flex items-center gap-2">
                <img src="{% static 'img/GraduationCap.svg' %}" alt="Chapéu de graduação">
                <h1 class="font-semibold text-gray-900 text-3xl">TechLink</h1>
            </div>
            <button id="menu-button-mobile" class="p-2 text-gray-700 hover:text-red-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg>
            </button>
        </div>

        <div id="mobile-menu-content" class="hidden mt-4 space-y-4">
            <form method="get" action="{% url 'techlink:buscar' %}" class="w-full">
                <div class="relative w-full"><input type="text" name="q" placeholder="O que gostaria de aprender?" value="{{ request.GET.q }}" class="w-full pl-4 pr-12 py-3 text-gray-700 bg-white border border-gray-200"><button type="submit" class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500 hover:text-red-800"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg></button></div>
            </form>

            {% if user.is_authenticated %}
                <div class="flex flex-col items-center gap-3 pt-2 border-t border-gray-300">
                    <a href="{% url 'accounts:self_user_profile' %}" class="flex items-center gap-2">
                        <span class="text-xl text-gray-900 font-medium">Bem vindo, {{ user.nome }}</span>
                        {% if usuario.foto_perfil %}
                            <img src="{{ user.foto_perfil.url }}" alt="Imagem perfil" class="h-[64px] w-[64px] rounded-full object-cover">
                        {% else %}
                            <img src="{% static 'img/default-avatar.jpg' %}" alt="Imagem perfil" class="h-[64px] w-[64px] rounded-full object-cover">
                        {% endif %}
                    </a>
                    <form action="{% url 'accounts:logout' %}" method="post" class="w-full">
                        {% csrf_token %}
                        <button type="submit" class="w-full bg-red-900 text-white px-5 py-3 font-semibold text-sm">Sair</button>
                    </form>
                </div>
            {% else %}
                <div class="flex flex-col gap-3 pt-2 border-t">
                    <a href="{% url 'accounts:register' %}" class="w-full"><button class="w-full bg-red-100 text-red-900 px-5 py-3 font-semibold text-sm">Criar Conta</button></a>
                    <a href="{% url 'accounts:login' %}" class="w-full"><button class="w-full bg-red-900 text-white px-5 py-3 font-semibold text-sm">Entrar</button></a>
                </div>
            {% endif %}
        </div>
    </header>


    <div class="flex justify-center flex-grow">
            {% block content %}
            {% endblock %}          
    </div>
    </div>
    <footer class="bg-gray-900 min-h-[400px] flex items-center w-full flex-col justify-between">
        <div class="w-full flex justify-center items-start px-4 gap-8 lg:gap-44 lg:mt-12">
            <div class="flex flex-col gap-4 items-center lg:items-start">
                <div class="flex items-center gap-2 mt-6">
                    <img src="{% static 'img/GraduationCap.svg' %}" alt="Chapéu de graduação">
                    <h3 class="font-semibold text-white text-3xl">TechLink</h3>
                </div>
                <span class="text-gray-400 text-center md:text-left text-sm md:text-base">Siga-nos em outras plataformas</span>
                <div class="flex gap-2 md:gap-3 flex-wrap justify-center md:justify-start">
                    <div class="box-social">
                        <i class="fa-brands fa-facebook-f fa-lg" style="color: #ffffff;"></i>
                    </div>
                    <div class="box-social">
                        <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i>
                    </div>
                    <div class="box-social hover:shadow-[0_0_15px_4px_rgba(255,0,0,0.5)]">
                        <i class="fa-brands fa-linkedin-in fa-lg" style="color: #ffffff;"></i>
                    </div>
                    <div class="box-social">
                        <i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff;"></i>
                    </div>
                    <div class="box-social">
                        <i class="fa-brands fa-youtube fa-lg" style="color: #ffffff;"></i>
                    </div>
                </div>
            </div>

            <div class="hidden lg:flex gap-8">
                <div>
                    <h5 class="text-white mb-4">TOP 4 CATEGORIAS</h5>
                    <ul class="flex gap-3 flex-col">
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Desenvolvimento
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Finanças e Contabilidade
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Design
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Negócios
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-white mb-4">LINKS RÁPIDOS</h5>
                    <ul class="flex gap-3 flex-col">
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Sobre
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Torne-se um instrutor
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-3">
                            Contato
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-white mb-4">SUPORTE</h5>
                    <ul class="flex gap-3 flex-col">
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Centro de Ajuda
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            FAQs
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Termos e condições
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                        <li class="group text-gray-500 hover:text-white hover:border-b hover:border-red-700 transition duration-300 cursor-pointer flex items-center gap-4">
                            Políticas de Privacidade
                            <span class="text-white opacity-0 translate-x-[-5px] group-hover:opacity-100 group-hover:text-xs group-hover:translate-x-0 transition duration-300">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            
        </div>

        <div class="lg:hidden w-full px-4 mt-8 space-y-6">
            <div class="text-center">
                <h5 class="text-white mb-3 text-sm font-semibold">TOP 4 CATEGORIAS</h5>
                <div class="flex flex-wrap justify-center gap-2">
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Desenvolvimento</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Finanças</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Design</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Negócios</span>
                </div>
            </div>
        
            <div class="text-center">
                <h5 class="text-white mb-3 text-sm font-semibold">LINKS RÁPIDOS</h5>
                <div class="flex flex-wrap justify-center gap-2">
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Sobre</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Instrutor</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Contato</span>
                </div>
            </div>
            <div class="text-center">
                <h5 class="text-white mb-3 text-sm font-semibold">SUPORTE</h5>
                <div class="flex flex-wrap justify-center gap-2">
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Centro de Ajuda</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">FAQs</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Termos e condições</span>
                    <span class="text-gray-400 text-xs px-2 py-1 border border-gray-700 rounded">Políticas de Privacidade</span>
                </div>
            </div>
            </div>
            
        <div class="p-4 border-t border-t-gray-800 w-full text-center text-xs lg:text-sm mb-4 lg:mb-10 mt-8">
            <span class="text-gray-400">© 2025 - Projeto da Disciplina Laboratório e Desenvolvimento de Software - Universidade Veiga de Almeida</span>
        </div>
    </footer>
    {% block scripts %}
    <script>
        const menuButtonMobile = document.getElementById('menu-button-mobile');
        const mobileMenuContent = document.getElementById('mobile-menu-content');

        if (menuButtonMobile && mobileMenuContent) {
            menuButtonMobile.addEventListener('click', () => {
                mobileMenuContent.classList.toggle('hidden');
            });
        }
    </script>
    {% endblock %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script> -->
</body>
</html>